# Database - Currently not used - SQLite only
[Database]
Type=QSQLITE
ConnectionName=
ConnectionOptions=
HostName=
Port=
UserName=
Password=

[Options]

# Show statistics
DatabaseReport=false

# Fail if most important tables are not populated
BasicValidation=false

# Check airport boundaries and print warnings to log
AirportValidation=false

# Process airport deletesDatabase - only FSX/P3D/MSFS
ProcessDelete=true

# filter out dummy runways
FilterRunways=true

# Write incomplete objects
SaveIncomplete=true

# Connect airways
ResolveRoutes=true

# Create routing application tables
CreateRouteTables=false

# Create airport large and medium tables
CreateAirportTables=false

# Debugging options - slows compilation down and creates huge log files
Verbose=false

# Debugging option - Commit after each update - very slow
Autocommit=false

# Delete duplicates
Deduplicate=true

# Drops all indexes and creates a database preparation SQL script in table "script" for the client to add them again
DropAllIndexes=false

# Vaccuum database
VacuumDatabase=true

# Gather schema statistics
AnalyzeDatabase=true

# Language for MSFS airport and administrative names
MsfsAirportLanguage=

[Filter]
# Not all filters are applied to the X-Plane compilation and none to the DFD compilation.
#
# If include filter is set only the listed features are loaded
# If exclude is set all listed features as excluded
# Exclude has priority before include
# All filters are case insensitive, comma separated and use globbing expressions
# ?	Matches any single character
# *	Matches zero or more of any characters
# [...]	Sets of characters can be represented in square brackets

# If scenery is covered by this filter it will be but at the end of the loading list i.e. get highest priority
IncludeHighPriorityFilter=*/fsAerodata Files/*

# Filter files by name excluding path
# Examples: BNXWorld?.bgl or APX45*.bgl or FTX_NZSI_Unlisted_Airstrips.BGL
IncludeFilenames=

# FSX/P3D/MSFS filename prefixes:
# APX	Airports
# ATX	Routing information
# BRX	Bridges
# CVX	Various coastlines waterpolys roads
# NAX MSFS procedures and navaids with dummy airports and COM
# NVX	Navaids - VORs, NDBs, & associated scenery objects.
# OBX	Objects
# DEM	Digital elevation map
# WSX MSFS Scenery objects
# bvcf.bgl	CENTER type airspace boundaries.
# BNXWorld*	Geopolitical and airspace boundaries.
# Exclude DEM, bridges and other scenery per default
ExcludeFilenames=brx*,obx*,cvx*,dem*,wsx*

# Filter files by path relative from scenery.cfg minus the scenery directory
# Example: Addon Scenery/JetwayExclude/*,Scenery/0501/*,Scenery/0601/*
# Full path is needed for X-Plane
# MSFS based on Microsoft.FlightSimulator_8wekyb3d8bbwe/LocalCache/Packages/Official/OneStore or Community
IncludePathFilter=
ExcludePathFilter=

# Filter airports three or four letter ICAO ident
IncludeAirportIcaoFilter=
ExcludeAirportIcaoFilter=

# Filter by object type. Some combinations of this can result in unexpected behavour  - only X-Plane and FSX/P3D
# that is caused by the hierarchical dependency of objects. E.g. filtering out runways
# will also remove approaches and ILS.
# Possible values are:
# AIRPORT, RUNWAY, HELIPAD, START, APPROACH (and transitions), APPROACHLEG (and transition legs),
# COM, PARKING, ILS, VOR, NDB, WAYPOINT, MARKER, APRON, APRON2, TAXIWAY, ROUTE,
# GEOMETRY (apron and apron light geometry), BOUNDARY (airspaces)
IncludeBglObjectFilter=
ExcludeBglObjectFilter=APRON2,TAXIWAY_RUNWAY,VEHICLE

# Filters that define if an airport is defined as addon or not
IncludeAddonPathFilter=
ExcludeAddonPathFilter=Scenery/*,fs-base/*,fs-base-nav/*,fs-base-genericairports/*
