[Database]
Type=QSQLITE
ConnectionName=
ConnectionOptions=
HostName=
Port=
UserName=
Password=

[Options]

# Show statistics
DatabaseReport=true

# Process airport deletes
ProcessDelete=true

# filter out dummy runways
FilterRunways=true

# Write incomplete objects
SaveIncomplete=true

# Connect routes
ResolveRoutes=true

# Debugging options - slows compilation down and creates huge log files
Verbose = false

# Debugging option - Commit after each update - very slow
Autocommit=false

[Filter]
# If include filter is set only the listed features are loaded
# If exclude is set all listed features as excluded
# Exclude has priority before include

# Filter files by name and globbing expression
# BNXWorld0.bgl,BNXWorld1.bgl,BNXWorld2.bgl,BNXWorld3.bgl,BNXWorld4.bgl,BNXWorld5.bgl,bvcf.bgl
# BR2_LIMC.BGL,APX50150.bgl,EIKY_ADEX_Farranfore.BGL,APX45130.bgl
IncludeFilenames=

-- Type	Contains
-- APX	Airports
-- ATX	Routeing information
-- BRX	Bridges
-- CVX	Various coastlines waterpolys roads
-- NVX	Navaids - VORs, NDBs, & associated scenery objects.
-- OBX	Objects
-- DEM	Digital elevation map
- bvcf.bgl	CENTER type airspace boundaries.
- BNXWorld*	Geopolitical and airspace boundaries.
ExcludeFilenames=brx*,obx*,cvx*

# Filter files by path and globbing expression path is relative from scenery.cfg minus the scenery directory
IncludePathFilter=*/Addon Scenery/JetwayExclude/*,*/Scenery/0601/*,*/Scenery/0501/*,*/Addon Scenery/Ireland/*
#*/Scenery/*
#*/Addon Scenery/JetwayExclude/*,*/Scenery/0601/*,*/Scenery/0501/*,*/Addon Scenery/Ireland/*


ExcludePathFilter=

# Filter airports by globbing expression
IncludeAirportIcaoFilter=
#LIMC,EIKY
ExcludeAirportIcaoFilter=

# AIRPORT, RUNWAY, HELIPAD, START, APPROACH, COM, PARKING,
# ILS, VOR, NDB, WAYPOINT, MARKER, APRON, FENCE, TAXIWAY, ROUTE, GEOMETRY, BOUNDARY
IncludeBglObjectFilter=
ExcludeBglObjectFilter=GEOMETRY
