# Default URLs for the status.txt files of the two networks
# Can be overidden by placing the file into C:\Users\YOURUSERNAME\AppData\Roaming\ABarthel
#
# Keys in section "[options]":
# "update":    Update rate for whazzup file in seconds - cannot be below 60 seconds.
#              Do not use values below three minutes for online networks.
#              "auto" will use the download interval given in the "status.txt" file but not smaller than a minute.
#
# Keys in section "[vatsim]" and "[ivao]":
# "statusurl": URL of status.txt file. Network option will not be shown in options dialog if empty or commented out.

[options]
update=180

[vatsim]
#statusurl=http://status.vatsim.net/status.txt

[ivao]
#statusurl=http://www.ivao.aero/whazzup/status.txt
