# This file allows URL configuration and can be overloaded by placing
# a copy in the settings path C:\Users\YOURUSERNAME\AppData\Roaming\ABarthel
# ${LANG} will be replaced with language code like "de" or "pt_BR"
# branch can be "master" or "release/1.4"

# Help URLs pointing to the manual from various buttons or dialogs in the program
[help]
# Base is used to build URLs for help buttons VERSION_NUMBER_TODO
base = https://www.littlenavmap.org/manuals/littlenavmap/release/2.8/${LANG}/

# Other URLs for menus or dialogs VERSION_NUMBER_TODO
tutorials =     https://www.littlenavmap.org/manuals/littlenavmap/release/2.8/${LANG}/TUTORIALS.html
legend =        https://www.littlenavmap.org/manuals/littlenavmap/release/2.8/${LANG}/LEGEND.html
installredist = https://www.littlenavmap.org/manuals/littlenavmap/release/2.8/${LANG}/INSTALLATION.html#windows
installglobe =  https://www.littlenavmap.org/manuals/littlenavmap/release/2.8/${LANG}/OPTIONS.html#cache-elevation
installdir =    https://www.littlenavmap.org/manuals/littlenavmap/release/2.8/${LANG}/FOLDERS.html
navdata =       https://www.littlenavmap.org/manuals/littlenavmap/release/2.8/${LANG}/NAVDATA.html

downloads =     https://www.littlenavmap.org/downloads/

# Shown after first start in new installation VERSION_NUMBER_TODO
start =         https://www.littlenavmap.org/manuals/littlenavmap/release/2.8/${LANG}/START.html

# Other help URLs
donate =        https://www.littlenavmap.org/donate.html
faq =           https://www.littlenavmap.org/littlenavmap-faq.html

# Local paths to help files and the offline PDF manual
[local]
legend = help/legend-${LANG}.html
help =   help/little-navmap-user-manual-${LANG}.pdf

# URL to the update control file
# Can be overloaded in the INI file for testing:
# [Update]
# Url=http://localhost:4001/littlenavmap-version (https://www.littlenavmap.org/littlenavmap-version)
[update]
url = https://albar965.github.io/littlenavmap-version

# Not covered here:
# Documentation element in flight plans: https://www.littlenavmap.org/lnmpln.html
# Documentation element in aircraft performance: https://www.littlenavmap.org/lnmperf.html
