/debug/
/Debug/
/Release/
/release/
/deploy/
/*.pro.user
/*.log
*.orig
*.a
*.o
*.d
*.lib
*.obj
*.exe
*.dll
*.so
*~
*.bak
*.sqlite
*.BIN
*.bin
*.db
atools_*.qm
atools_*.ts
#*#
*.cache/
*.pro.user
.DS_Store
.qmake.stash
.directory
