#*#
*.BIN
*.a
*.bak
*.bin
*.cache/
*.d
*.db
*.exe
*.lib
*.o
*.obj
*.orig
*.pro.user
*.rej
*.so
*.sqlite
*~
.DS_Store
.directory
.qmake.stash
.qtcreator/
.~*#
/*.log
/*.pro.user
/Debug/
/Release/
/debug/
/deploy/
/release/
