#alternative body {
  font-family: sans-serif;
  letter-spacing: 1px;
}

#toolbarsContainer {
  background: #555;
}

[data-toolbarsplacement="top"] .toolbar, [data-toolbarsplacement="bottom"] .toolbar {
  padding: 0 2.5px;   /* works in conjunction with .toolbar button margin */
}

[data-toolbarsplacement="right"] .toolbar, [data-toolbarsplacement="left"] .toolbar {
  padding: 2.5px 0;   /* works in conjunction with .toolbar button margin */
}

.toolbar button {
  font-family: sans-serif;
  letter-spacing: 1px;
  padding: 0 15px;
  border: 0;
  text-align: center;
  font-size: 20px;
  line-height: 26px;
  border-radius: 13px;
  color: #fff;
  background: #888;
  width: 150px;
  box-sizing: border-box;
}

.toolbar button:hover {
  border: 1px solid #ff0;
}

[data-toolbarsplacement="top"] .toolbar button:hover, [data-toolbarsplacement="bottom"] .toolbar button:hover {
  margin: 4px 2.5px;   /* works in conjunction with .toolbar button margin and :hover */
}

[data-toolbarsplacement="right"] .toolbar button:hover, [data-toolbarsplacement="left"] .toolbar button:hover {
  margin: 1.5px 5px;   /* works in conjunction with .toolbar button margin and :hover */
}

@media (max-width: 1280px) {
  [data-toolbarsplacement="top"] .toolbar button, [data-toolbarsplacement="bottom"] .toolbar button {
     width: auto;
  }

  [data-toolbarsplacement="top"] .toolbar button:hover, [data-toolbarsplacement="bottom"] .toolbar button:hover {
    margin: 4px 1.5px;   /* works in conjunction with .toolbar button margin and :hover */
  }
}

@media (max-width: 840px) {
  .toolbar button {
    padding: 0 5px;
  }
}

[data-toolbarsplacement="top"] .toolbar button, [data-toolbarsplacement="bottom"] .toolbar button {
  margin: 5px 2.5px;
}

[data-toolbarsplacement="right"] .toolbar button, [data-toolbarsplacement="left"] .toolbar button {
  margin: 2.5px 5px;
}

@media (max-width: 420px) {
  [data-toolbarsplacement="top"] .toolbar, [data-toolbarsplacement="bottom"] .toolbar {
    padding-top: 2.5px;
    padding-bottom: 2.5px;
  }

  [data-toolbarsplacement="top"] .toolbar button, [data-toolbarsplacement="bottom"] .toolbar button {
     width: calc(50% - 5px);
     margin: 2.5px;
  }

  [data-toolbarsplacement="right"] .toolbar button, [data-toolbarsplacement="left"] .toolbar button {
     width: 125px;
  }
}

.toolbar button a {
  text-decoration: none;
  color: inherit;
}

.active {
  background: #aaa !important;
  color: #ff0 !important;
  box-shadow: 0 0 2.5px 0 rgba(192, 192, 0, .5) !important;
  text-shadow: 0 0 5px rgba(192, 192, 0, .5) !important;
}

[data-toolbarsplacement="top"] #toggleOptionsToggle, [data-toolbarsplacement="bottom"] #toggleOptionsToggle {
  width: 52px;
}

[data-toolbarsplacement="right"] #toggleOptionsToggle, [data-toolbarsplacement="left"] #toggleOptionsToggle {
  height: 52px;
}

#toggleOptionsToggle:hover {
  outline: 1px solid #acf;
}

#toggleOptionsToggle::before {
	border-width: 13px;
}

[data-toolbarsplacement="top"] #toggleOptionsToggle::before {
	border-top-color: #d5e6ff;
	top: calc(50% - 13px/2);      /* works in conjunction with #toggleOptionsToggle::before border-width */
	left: calc(50% - 13px);       /* works in conjunction with #toggleOptionsToggle::before border-width */
}

[data-toolbarsplacement="right"] #toggleOptionsToggle::before {
	border-right-color: #d5e6ff;
	right: calc(50% - 13px/2);    /* works in conjunction with #toggleOptionsToggle::before border-width */
	top: calc(50% - 13px);        /* works in conjunction with #toggleOptionsToggle::before border-width */
}

[data-toolbarsplacement="bottom"] #toggleOptionsToggle::before {
	border-bottom-color: #d5e6ff;
	bottom: calc(50% - 13px/2);   /* works in conjunction with #toggleOptionsToggle::before border-width */
	left: calc(50% - 13px);       /* works in conjunction with #toggleOptionsToggle::before border-width */
}

[data-toolbarsplacement="left"] #toggleOptionsToggle::before {
	border-left-color: #d5e6ff;
	top: calc(50% - 13px);      /* works in conjunction with #toggleOptionsToggle::before border-width */
	left: calc(50% - 13px/2);       /* works in conjunction with #toggleOptionsToggle::before border-width */
}

[data-toolbarsplacement="top"] #toggleOptionsToggle.shown::before {
	border-top-color: #acf;
}

[data-toolbarsplacement="right"] #toggleOptionsToggle.shown::before {
	border-right-color: #acf;
}

[data-toolbarsplacement="bottom"] #toggleOptionsToggle.shown::before {
	border-bottom-color: #acf;
}

[data-toolbarsplacement="left"] #toggleOptionsToggle.shown::before {
	border-left-color: #acf;
}

#toolbarsOptions {
  background: #707070;
  width: 170px;
}

#toolbarsOptions fieldset {
  margin: 0 .5px;
}

#toolbarsOptions fieldset + fieldset {
  margin-top: 5px;
}

#toolbarsOptions fieldset + fieldset.has-legend {
  margin-top: 2px;
}

#toolbarsOptions fieldset.has-legend:last-child {
  margin-bottom: 1px;
}

#toolbarsOptions fieldset:not(.has-legend):last-child {
  margin-bottom: -2.5px;
}

#toolbarsOptions legend {
  font-size: 10px;
  font-family: sans-serif;
}

#toolbarsOptions .input-block {
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  margin: 2.5px;
}

#toolbarsOptions .input-block:hover, #toolbarsOptions select:hover {
  outline: 1px solid #ff0;
}

#toolbarsOptions input[type="radio"] {
  margin: -1px 0 0 10px;
}

#toolbarsOptions input[type="checkbox"] {
  margin-left: 10px;
}

#toolbarsOptions input[type="radio"] + label, #toolbarsOptions input[type="checkbox"] + label {
  padding: 3px 0 3px 32px;
}

#toolbarsOptions input[type="radio"]:checked + label {
  color: #ff0;
  text-shadow: 0 0 3px rgba(192, 192, 0, .5);
}

#toolbarsOptions .input-block label {
  color: #fff;
  font-family: sans-serif;
}


#toolbarsOptions select {
  padding: 5px;
}

#toolbarsOptions select, #toolbarsOptions option {
  font-family: sans-serif;
  font-size: 12px;
}

#selectablePlugins {
  text-align: left;
  font-size: 15px;
}

.selectable-plugin {
  background: grey;
  padding: 0 10px;
  cursor: pointer;
  border-radius: 14px;
  border: 1px solid #000;
}

.selectable-plugin label {
  padding-left: 12px;
}

.selectable-plugin * {
  cursor: inherit;
}

#exclusivePlugins option {
  padding: 5px;
  box-sizing: border-box;
}