html, body {
  touch-action: none;
}

body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

.toolbar {
  box-shadow: 0px 0px 18px gray;
  background: lightgray;
  border-radius: 25px;
  border: none;
  margin: 7px;
  flex: 0 1;
  user-select: none;
}

@media (min-width: 1281px) {
  .toolbar {
    padding: 0 12px;
  }
}

@media (max-width: 1280px) {
  .toolbar {
    padding: 0 4px;
  }
}

.toolbar > div {
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: auto;
}


.indicator-scrollable-toright, .indicator-scrollable-toleft {
  position: relative;
}

.indicator-scrollable-toright::after, .indicator-scrollable-toleft::before {
  position: absolute;
  top: 0;
  z-index: 300;
  content: "";
  display: block;
  width: 53px;
  pointer-events: none;
  height: 100%;
  border-radius: 27px;
  z-index: -1;
}

.indicator-scrollable-toleft::before {
  left: 0;
  box-shadow: -4px 0 5px 0 rgba(255, 79, 0, .5);
}

.indicator-scrollable-toright::after {
  right: 0;
  box-shadow: 4px 0 5px 0 rgba(255, 79, 0, .5);
}


form {
  font-size: 13.333px;
  display: flex;
  align-items: center;
}

form > * {
  display: block;
}

input[type="checkbox"] {
  margin: 0;
  vertical-align: -2px;
}

input[type="text"] {
  text-align: center;
}

input:not([type=text]), button, label[for] {
  cursor: pointer;
}

input[disabled]:hover {
  cursor: url(/images/there.cur), auto;
}

input + label, label + input, input + button, label + button {
  margin-left: 3px;
}

button {
  margin-right: 3px;
}

.gap {
  width: 10px;
}


#refreshWithAircraft {
  transition: all 1.5s;
}

.enlarge {
  transform: scale(2) !important;
  outline: 1px solid #f50;
}


[data-shift="up"] {
  cursor: url(/images/point-up.cur), auto;
}

[data-shift="left"] {
  cursor: url(/images/point-left.cur), auto;
}

[data-shift="right"] {
  cursor: url(/images/point-right.cur), auto;
}

[data-shift="down"] {
  cursor: url(/images/point-down.cur), auto;
}


#preventstandbyVideoContainer {
  width: 48px;
  height: 36px;
  display: inline-block;
  vertical-align: middle;
  border: 0;
  pointer-events: none;
  opacity: 0;
}


#interactionParent {
  display: flex;
  perspective: 1000px;
}

#interactionParent[disabled] {
  cursor: not-allowed;
  position: relative;
}

#interactionParent[disabled]:hover::before {
  content: "Automap (refresh with Aircraft in center) enabled";
  display: table;
  position: absolute;
  left: 1.2vw;
  top: 1.2vw;
  z-index: 3;
  background: lightyellow;
  padding: .8vw;
  border: 1px solid #000;
  box-shadow: 0 0 0 .4vw rgba(255,0,0,.5);
  color: #000;
}

@media (min-width: 1281px) {
  #interactionParent[disabled]:hover::before {
    font-size: .8vw;
  }
}

@media (min-width: 768px) and (max-width: 1280px) {
  #interactionParent[disabled]:hover::before {
    font-size: 1.8vw;
  }
}

@media (max-width: 767px) {
  #interactionParent[disabled]:hover::before {
    font-size: 3.3vw;
  }
}

#interactionParent[disabled] #mapcontainer {
  pointer-events: none;
}


#mapcontainer {
  flex: 1 0;
  transform-style: preserve-3d;
  position: relative;
  opacity: 1;
  transform: scale(1);
}

#mapcontainer.initially {
  opacity: 0;
}

.transition {
  transition: transform 2s linear;
}

@keyframes clearview {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.transition::after {
  animation: clearview 1s 2s both;
  content: "";
  display: block;
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  transform: translate3d(0px, 0px, 400px);
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  background: linear-gradient(135deg, rgba(255,255,255,0) 0%, rgba(255,150,255,.13) 74%, rgba(255,0,255,.5) 100%);
}

#mapcontainer.toshow {
  transform: scale3d(.25,.25,.25) rotate3d(0, 1, 0, -80deg) rotate3d(1, 0, 0, 86deg) rotate3d(0, 0, 1, 30deg);
}


@media (max-resolution: 96dpi) {
  #retinaOption {
    display: none;
  }
}