/*****************************************************************************
* Stylesheet for Little Navmap internal web page
*****************************************************************************/

/* Adjust these values to change the overall style of the web page */
body {
  background: white;
  font-size: 1.0em;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

/* Put a line below headings */
h1 {
  border-bottom: 2px solid #707070;
}

p, table, h1, h2, h3, h4 {
  margin: 0.75em;
}

/* fit image and video elements to their box */
.fit-media-to-parent {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Do not change values below **************************************************/

/* Put input and buttons into one row */
form {
  display: inline-block;
}


/* Limit size of airport input text */
#airporttext {
  width: 4em;
}

#errortext {
  color: red;
  font-weight: bold;
}

/* Gray header bar */
#header {
  box-shadow: 0px 0px 18px gray;
  background: lightgray;
  border-radius: 25px;
  padding: 0 1em 0 1em;
  margin: 0;
  margin-bottom: 1em;
  border: none;
}
