[Desktop Entry]
Type=Application
Exec='YOUR_PATH_TO_LITTLENAVMAP/littlenavmap'
# replace spaces with \s
Path=YOUR_PATH_TO_LITTLENAVMAP/
Name=Little Navmap
GenericName=Little Navmap
# replace spaces with \s
Icon=YOUR_PATH_TO_LITTLENAVMAP/littlenavmap.svg
Terminal=false
Categories=Qt;Utility;Geography;Maps;

